@font-face {
    font-family: Courgette; // decorative
    src: url(../fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: Catamaran; // sans-serif
    src: url(../fonts/Catamaran-VariableFont_wght.ttf);
}
@font-face {
    font-family: ScopeOne; // serif
    src: url(../fonts/ScopeOne-Regular.ttf);
}
* { // CSS reset, colors, standard styles
    margin: 0;
    padding: 0;
    user-select: none;
}
:root {
    scroll-behavior: smooth;
    font-family: Catamaran;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    --bgColor1: #152636;
    --bgColor2: #1C2D3D;
    --bgColor3: #243341;
    --txtColor: #F4E8CF;
    --color1: #668393;
    --color2: #A4A9AB;
    --color3: #D98F79;
}
body {
    background-color: var(--bgColor1);
    color: var(--txtColor);
    h1 { // Portfolio heading
        font-family: Courgette;
        color: var(--color2);
        font-size: 2.4rem;
        padding-bottom: 1rem;
    }
}
section { // Sections
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--bgColor1);
    div {
        display: flex; justify-content: center; align-items: center;
        width: 80%;
        div {
            display: block;
            #made-with {
                font-family: ScopeOne;
                font-size: 0.8rem;
            }
        }
        div a > img, #portrait {
            height: 50vh;
            width: auto;
            box-shadow: 0 0 0 10px var(--bgColor3), 0 0 0 20px var(--bgColor2);
            transition: 300ms;
        }
        div a > img:hover {
            transform: scale(1.03);
            box-shadow: none;
        }
        #portrait {
            border-radius: 50%;
        }
        #left {
            padding-right: 2rem;
        }
        #right {
            padding-left: 2rem;
        }
    }
}
#x-navs { // Navs
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex; justify-content: space-between;
    a {
        height: 2rem; // Fix for the a element being higher than its content
        svg {
            width: 2rem;
            height: 2rem;
            transition: 300ms;
        }
    }
    a:hover > svg {
        fill: var(--color2);
        transform: scale(1.1)
    }
}
#nav-left, #nav-right {
    pointer-events: all;
    display: flex; flex-direction: column; justify-content: center;
    transition: 300ms; // for JS nav-right show/hide
}
#nav-left a {
    margin: 0.5rem 0 0.5rem 0.25rem;
}
#nav-right a {
    margin: 0.5rem 1rem 0.5rem 0;
}
#y-navs {
    pointer-events: none;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(0deg, var(--bgColor2) 10%, #ffffff00 10%, #ffffff00 90%, var(--bgColor2) 90%);
    opacity: 0.98;
    display: flex; flex-direction: column; justify-content: space-between;
    #nav-up, #nav-down {
        pointer-events: all;
        display: flex; justify-content: center; align-items: center;
        font-size: 3rem;
        vertical-align: middle;
        background-color: var(--bgColor2);
        color: var(--color1);
        height: 10%;
        width: 100%;
        transition: 300ms;
        opacity: 0.4;
        span { // Compensation for uneven top / bottom of arrow char
            transform: translateY(5px);
        } 
    }
    #nav-up:hover, #nav-down:hover {
        background-color: var(--bgColor3);
        color: var(--color2);
        opacity: 1;
        cursor: pointer;
    }
    #nav-up:hover span {
        animation: navigateUp 2s ease-in-out infinite;
    }
    #nav-down:hover span {
        animation: navigateDown 2s ease-in-out infinite;
    }
}
#nav-up, #nav-right { // hide initially
    visibility: hidden;
}
@keyframes navigateUp {
    0% {transform: translateY(5px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(5px)}
}
@keyframes navigateDown {
    0% {transform: translateY(5px)}
    50% {transform: translateY(15px)}
    100% {transform: translateY(5px)}
}
body { // Custom scrollbars
    scrollbar-width: thin;
    scrollbar-color: var(--bgColor3) var(--bgColor1);
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: var(--bgColor1);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--bgColor3);
        border: none;
    }
    overflow-x: hidden;
}