@font-face {
    font-family: Courgette; // decorative
    src: url(../fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: Catamaran; // sans-serif
    src: url(../fonts/Catamaran-VariableFont_wght.ttf);
}
@font-face {
    font-family: ScopeOne; // serif
    src: url(../fonts/ScopeOne-VariableFont_wght.ttf);
}
* { // basic styles
    margin: 0;
    padding: 0;
}
:root {
    font-family: Catamaran;
    font-size: 1.5rem;
    --bgColor1: #152636;
    --bgColor2: #1C2D3D;
    --bgColor3: #243341;
    --txtColor: #F4E8CF;
    --color1: #668393;
    --color2: #A4A9AB;
    --color3: #D98F79;
}
body {
    color: var(--txtColor);
    h1 {
        font-family: Courgette;
        font-size: 2rem;
    }
    h2 {
        font-family: ScopeOne;
    }
    h1, h2 {
        padding-bottom: 1rem;
    }
}
section { // sections
    display: flex; flex-direction: column; align-items: center;
    justify-content: center;
    padding: 0 4.2vw;
    min-height: 90vh;
    min-width: 90vw;
    background: var(--bgColor1);
    div {
        display: flex; justify-content: center; align-items: center;
        width: 90%;
        img {
            border-radius: 50%;
            box-shadow: 0 0 0 10px var(--bgColor3), 0 0 0 20px var(--bgColor2);
        }
        div {
            display: flex; flex-direction: column; align-items: start;
        }
        #left {
            padding-right: 2rem;
        }
        #right {
            padding-left: 2rem;
        }
    }
}
#nav-left { // navs
    height: 100vh;
    position: fixed;
    display: flex; flex-direction: column; justify-content: center;
    a {
        margin: 0  0 1rem 0.25rem;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
    a:hover > svg {
        fill: var(--color2);
    }
}
#nav-overlay {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(0deg, var(--bgColor2) 10%, #ffffff00 10%, #ffffff00 90%, var(--bgColor2) 90%);
    opacity: 0.98;
    display: flex; flex-direction: column; justify-content: space-between;
    #nav-up, #nav-down {
        display: flex; justify-content: center; align-items: center;
        font-size: 3rem;
        vertical-align: middle;
        background-color: var(--bgColor2);
        color: var(--color1);
        height: 10%;
        width: 100%;
        transition: 300ms;
        opacity: 0.4;
        span { // compensation for uneven top / bottom of arrow char
            transform: translateY(5px);
        } 
    }
    #nav-up:hover, #nav-down:hover {
        background-color: var(--bgColor3);
        color: var(--color2);
        opacity: 1;
        cursor: pointer;
    }
    #nav-up:hover span {
        animation: navigateUp 2s ease-in-out infinite;
    }
    #nav-down:hover span {
        animation: navigateDown 2s ease-in-out infinite;
    }
}
@keyframes navigateUp {
    0% {transform: translateY(5px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(5px)}
}
@keyframes navigateDown {
    0% {transform: translateY(5px)}
    50% {transform: translateY(15px)}
    100% {transform: translateY(5px)}
}
body { // custom scrollbars
    scrollbar-width: thin;
    scrollbar-color: var(--bgColor3) var(--bgColor1);
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: var(--bgColor1);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--bgColor3);
        border: none;
    }
}